form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin-bottom: 2rem;
}
label {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 4px;
}
input,
button {
  padding: 15px;
  width: 100%;
  margin-bottom: 1rem;
}
.button_login {
  background-color: black;
  color: white;
  border: none;
  font-weight: 800;
}
a {
  text-decoration: none;
  padding: 1rem;
}
div {
  position: relative;
}
.input-icons i {
  position: absolute;
  left: 0;
  bottom: 34px;
}
i {
  font-size: 1.5rem;
}
