@media (min-width: 1024px) {
  header {
    display: none;
  }
}

@media (min-width: 1277px) {
  .logo img {
    width: 7%;
    margin-left: 25rem;
  }
}

main {
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (max-width: 450px) {
  footer {
    flex-direction: column;
    text-align: left;
  }
  main {
    width: 65%;
  }
}

@media (min-width: 769px) {
  main {
    width: 50%;
  }
  section {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  main {
    width: calc(30.4% + 2vw);
  }
  section {
    width: calc(30.4% + 2vw);
  }
  footer {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .footerlogo {
    font-size: 30px;
  }
}
main h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}
@media (min-width: 769px) {
  main h1 {
    font-size: 1.7rem;
  }
}
